* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./atividade3.jpg');
    background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
    color: white;
    padding: 10px 0;
}

h2 {
    color: white;
    padding: 10px 0;
}

h3 {
    color: white;
    padding: 10px 0;
}

hr {
    border: solid 1px gray;
}

.red-text {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding-bottom: 15px;
}

.green-text {
    color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    padding-bottom: 10px;
}

.size1 {
    color: white;
    font-size: 10px;
    padding-bottom: 5px;
}

.size2 {
    color: white;
    font-size: 12px;
    padding-bottom: 5px;
}

.size3 {
    color: white;
    font-size: 14px;
    padding-bottom: 5px;
}

.size4 {
    color: white;
    font-size: 16px;
    padding-bottom: 5px;
}

.size5 {
    color: white;
    font-size: 20px;
    padding-bottom: 5px;
}

.size6 {
    color: white;
    font-size: 24px;
    padding-bottom: 5px;
}

.size7 {
    color: white;
    font-size: 30px;
    padding-bottom: 5px;
}

img {
    width: 400px;
    border: 2px solid black;
    border-radius: 10px;
}

/* Coloquei as fontes em branco para dar um contraste com a imagem, pois as palavras sumiram. */