* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 30px;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url(../background.jpg) center/cover no-repeat;
  filter: blur(10px);
  transform: scale(1.1); /* evita bordas vazias após o blur */
  z-index: -1;
}

header h1 {
    text-align: center;
    color: aliceblue;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
}

nav ul li a {
    text-decoration: none;
    color: aliceblue;
}