* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    height: 100vh;
    padding: 30px;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url(../background.jpg) center/cover no-repeat;
  filter: blur(10px);
  transform: scale(1.1); /* evita bordas vazias após o blur */
  z-index: -1;
}

header {
    margin-bottom: 15px;
}

header h1 {
    text-align: center;
    color: aliceblue;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
}

nav ul li a {
    text-decoration: none;
    color: aliceblue;
}

main {
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main section {
    text-align: center;
}

main section img {
    height: 200px;
    border: 1px solid blue;
    border-radius: 50%;
    margin-bottom: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

main section img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px blue;
}

main section h2 {
    color: aliceblue;
    font-size: 25px;
    margin-bottom: 15px;
}

main section h2 span {
    color: blue;
    font-weight: 900;
}